:root {
  --gradient: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );

  --gradient-text: linear-gradient(272.38deg, #43a5e3 46.06%, #ff56f6 81.53%);

  --gradient-card: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) -1.52%,
    rgba(255, 255, 255, 0.024) 104.35%
  );
}
